.hex-name {
  color: rgb(148, 163, 184);
  font-size: 1rem;
  font-weight: 400;

}

.hex-value {
  color: white;
  font-size: 1.25;
  font-weight: 700;
  margin-left: 0.5rem;
}

.color-item {
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-color: rgb(55, 65, 81);
  border-style: solid;
  box-sizing: border-box;
}

.action-icon {
  height: 1.25rem;
  width: 1.25rem;
  color: rgb(148, 163, 184);
}

.flex-wrap {
  display: flex;
  justify-content: space-between;
}

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-width: 1px;
  border-color: rgb(148, 163, 184);
  border-style: solid;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.button-icon:hover {
  background-color: #334155;
}