.lead {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  color: rgb(156, 163, 175, 1);
}

.Title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
}

.svg {
  color: rgba(255, 255, 255, 1);
  display: block;
  width: 5rem;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}
